:root{
    --pramry-color: #5e6282;
    --active-color: #4430f7;
    --headding-color: #14183e;
    --titile-color: #080809;
    --topic-color: #712eec;
    /* ; */
}

*{
    margin: 0;
    padding: 0;
}
/* ========common style ======= */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}

.banner,
nav{
    margin: 30px;
}
.news-heading{
    font-size: 1em;
    color: var(--headding-color);
    padding-top: 10px;
}
.news-author{
    font-size: 0.6em;
    color: var(--pramry-color);
    padding: 5px 0;
}

figcaption{
    font-size:0.5em;
    color: var(--pramry-color);
}
.br{
    border-radius: 50%;
}
.box-shadow{
    margin-bottom: 30px;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* ------------- style header  -------------- */

/* --- style banner ------ */
.banner{
   
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.paper-titlie{
    text-align: center;
}
.s_m_icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: var(--pramry-color);
    padding: 10px;
    color: #ddd5e6;
    border-radius: 50%;
    margin: 5px;
    float: left;
    width:40px;
    height:40px;
    box-sizing: border-box;
}
  
  
    
}
 /* ------ style nav ------ */

nav{
   border-top: 2px solid var(--pramry-color);
   border-bottom: 2px solid var(--pramry-color);
}
nav ul{
    display:flex;
    justify-content: center;
}
nav ul li{
    padding: 5px;
    
}
nav ul li .active{
    color: var(--active-color);
}
nav ul li a{
    color: var(--titile-color);
    padding: 5px 5px;
    font-weight: 600;
    display: inline-block;
}


/* =============== home secto style  ============= */

.news{
 display: grid;
 grid-template-columns: 2fr 1fr 1fr;
 grid-column-gap: 30px;
}
.top-news .news-title{
    font-size: 2em;
    color:var(--headding-color);
}
.report,
.topic{
    padding: 10px 0;
}
.topic{
    display: flex;

}
.topic-details{
    padding-right: 20px;
}
.topic-title{
    font-size: 1.2em;
    color: var(--topic-color);
}
.topic-img{
    width: 50px;
    height: 60px;
    flex-basis: 100px;
}

/* ========== contact style  ================= */
.contact{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.flex-item{
    background: #f1f3f4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.contact .podcast .topic{
    align-items: center;
}
.contact .podcast .topic .topic-img{
   flex-basis: 80px;
}
.input-area{
    padding-top: 30px;
}
.subscribe input{
    width: 60%;
    height: 23px;
    padding: 5px;
    border: none;
    font-size: 1em;
}
button{
    height: 34px;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    background: #6b468d;
    border: none;
    margin-left: -4px;
}
.connects ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 30px;
}
.connects ul li{
    padding: 10px;
    text-align: center;
   
}
.connects ul li.facebook{
    background-color: rgb(47, 47, 145);
}
.connects ul li.twitter{
    background-color: rgb(26, 134, 235);
}
.connects ul li.youtube{
    background-color: #c41c1c;
}
.connects ul li .icon{
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px;
    display: inline-block
    
}
.connects ul li h5,
p{
    color: #fff;
}
.connects ul li p{
    font-size: 0.7em;
}

/* ========== lates news style =========== */
.latest-news{
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 30px;
}
.blog{
    display: flex;
    margin-top: 30px;
}
.blog-info{
    margin-left: 30px;
    border-top: 1px solid var(--pramry-color);
}
.blog-img{
    width: 250px;
}
.blog .blog-info p{
    color: var(--pramry-color);
    font-size: 0.9em;
    padding: 10px 0;
}
.politics{
    padding-top:15px;
}

/* ===== style most read === */
.most-banner{
    width: 90%;
    height: 100px;
    background: #343461;
    color: #f1f3f4;
    padding: 30px;
    margin: 0 auto;
}
.most-banner h1{
    font-size: 2em;
}
.most-read-news{
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 30px;
  
}
.top-read-news{
    position: relative;
    top: -40px;
}
.read-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 20px;
}
/* Entertainment news style  */
.entertainment{
    flex-direction: column;
}
.entertainment .blog-img{
    width: 100%;
}
.entertainment .blog-info{
    border: none;
}

/*========== footer style ===== */
footer {
display: grid;
grid-template-columns:  2fr 1fr 1fr 1.3fr;
gap: 30px;
padding: 50px;   
}

footer{
    margin-top: 30px;
    background-color: var(--pramry-color);
}
footer .title{
    color:#f0c91a;
    padding-bottom: 30px;
}
footer p{
    font-size: 12px;
color: darkgrey;
}
footer .heading{
    color: #e5e9eb;
    padding: 5px 0;
}